In [154]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [155]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [156]:
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [157]:
label_gender_encoder = LabelEncoder()

data['Gender'] = label_gender_encoder.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [158]:
from sklearn.preprocessing import OneHotEncoder
oneHotEncoderGeo = OneHotEncoder()
getencoder = oneHotEncoderGeo.fit_transform(data[['Geography']]).toarray()

In [159]:
oneHotEncoderGeo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [160]:
geo_encoder_df = pd.DataFrame(getencoder, columns=oneHotEncoderGeo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [161]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [162]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_gender_encoder, file)
with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(oneHotEncoderGeo, file)

In [163]:
X = data.drop('Exited', axis=1)
y = data['Exited']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [164]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [169]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [173]:
(X_train.shape[1],)

(12,)

In [176]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [177]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [197]:
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
loss = tf.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [198]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [199]:
early_stopping = EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)

In [200]:
history = model.fit(X_train, y_train,validation_data=(X_test, y_test), epochs=100, 
                   callbacks=[tensorboard_callback, early_stopping]
                )

Epoch 1/100
 15/250 [>.............................] - ETA: 0s - loss: 0.4469 - accuracy: 0.8000

2025-05-11 21:41:35.272521: E tensorflow/core/grappler/optimizers/meta_optimizer.cc:961] model_pruner failed: INVALID_ARGUMENT: Graph does not contain terminal node Adam/AssignAddVariableOp.

250/250 [==============================] - 1s 5ms/step - loss: 0.4438 - accuracy: 0.8100 - val_loss: 0.4722 - val_accuracy: 0.8005
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4533 - accuracy: 0.8044 - val_loss: 0.4246 - val_accuracy: 0.8155
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4546 - accuracy: 0.8075 - val_loss: 0.4320 - val_accuracy: 0.8080
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4735 - accuracy: 0.7990 - val_loss: 0.4279 - val_accuracy: 0.8240
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4828 - accuracy: 0.7926 - val_loss: 0.4901 - val_accuracy: 0.7925
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4920 - accuracy: 0.7955 - val_loss: 0.4472 - val_accuracy: 0.8115
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4878 - accuracy: 0.7972 - val_loss: 0.4861 - val_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5300 - accuracy: 0.7918 - val_loss: 0.5328 - val_accuracy: 0.8000
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5113 - accuracy: 0.7962 - val_loss: 0.4633 - val_accuracy: 0.7850
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5040 - accuracy: 0.7970 - val_loss: 0.4373 - val_accuracy: 0.8075
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5859 - accuracy: 0.7786 - val_loss: 0.4494 - val_accuracy: 0.8120
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5314 - accuracy: 0.7881 - val_loss: 0.5059 - val_accuracy: 0.7685

In [201]:
model.save('model.h5')

/Users/mehulpanchal/Development/pythonStudy/ANN/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [202]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [203]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 11557), started 0:03:59 ago. (Use '!kill 11557' to kill it.)